
*.exe
*.manifest
*.ilk
*.pdb
*.opensdf
*.tlog
*.obj
*.log
*.lastbuildstate
*.cache
*.idb
*.ipch
*.sdf
Interpreter/Debug/Interpreter.exe.embed.manifest.res
*.rc
*.out
*.swp
*.unsuccessfulbuild
*.lib
Debug/Interpreter.exp
Interpreter/jk
